*{
    margin: 0;
    padding: 0;
   
}
.main-banner{
   position: relative;
    background-size: cover;
    height: 700px;
    color:white;
   width: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url('https://assets.nflxext.com/ffe/siteui/vlv3/c0a32732-b033-43b3-be2a-8fee037a6146/2fe6e3c0-5613-4625-a0c1-3d605effd10b/IN-en-20210607-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
      
    border-bottom: 8px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-banner-sub{
    /* background: green; */
    width: 1050px;
    height: 600px;
    display: flex;
  
    justify-content: center;
    align-items: center;
}
 .center{
  
     display: flex;
     flex-direction: column;
     /* background: red;        */
     min-width: 280px;
     min-height: 500px;
     align-items: center;
     justify-content: center;
     
 }
 .main-heading{
     text-align: center;
    /* background: chartreuse; */
    width: 100%;
 }
 .main-heading h1{
     font-size: 3.125rem;
     line-height: 55px;
 }
 .sub-heading{
     /* background: chocolate; */
     width: 100%;
 }
.sub-heading h2{
    margin: 16px;
    word-spacing: 4px;
    font-size: 1.625rem;  
    font-weight: 600;
    text-align: center;
}
.small-heading{
    /* background: cyan; */
    width: 100%;
    text-align: center;
}
.small-heading h4{
    font-weight: 500;
    margin-top: 21px;
}

.main-form{   
    text-align: center;  
    display: flex;
    min-width: 280px;
   min-height: 49px;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap ;
}

.input-field{
    min-height: 49px;
    min-width: 300px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 10px;
    
}
.input-btn{   
      
   background: yellow;
   height: 100%;
    min-width: 260px;
   
}
.input-field input{
    width: 100%;
    height: 100%;
    border: none;
}
.main-form .input-field input:focus{
    border: green;   
    outline: none;
}
.input-btn button{
    width: 100%;
    height: 100%;
    background: #e50914;
    color: #fff;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 19px;
    padding-right: 19px;
    text-align: center;
    transition: all 0.5s;
}
.input-btn span{
    font-size: 1.625rem;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
    width: 168px;
}
.input-btn span::after{
    content: '\00bb';   
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

 .input-btn:hover span {
    padding-right: 25px;
  }
  
  .input-btn:hover span:after {
    opacity: 1;
    right: 0;
  }
.input-btn:hover{
    cursor: pointer;
}
/* media query */

/* Phone */

@media  (min-width:280px) and (max-width:409px){
    .main-heading h1 {
        color: #fff;
        font-size: 2.4rem;
        line-height: 38px;
    }
   
    .sub-heading h2{
        margin: 9px;
        word-spacing: 4px;
        font-size: 1.2rem;  
        font-weight: 600;
        text-align: center;
    }
    .small-heading h4 {        
        font-size: 15px;
        margin: 9px;
    }
    .main-banner{
        background-size:contain ;
    }
    .main-form{
        text-align: center;
        margin-top: 0;
      }
      .input-field {
        min-height: 40px;
        min-width: 260px;
        background: #fff;
      }
      .input-btn {
        margin-top: 10px;
        width: 125px;
        height: 35px;
    }
      .input-btn span {
        width: 122px;
        font-size: 1.1rem;
        cursor: pointer;
        display: inline-block;
    
    }
}

@media  (min-width:410px) and (max-width:559px){
    .input-btn {
        height: 100%;
        min-width: 300px;
        margin-top: 10px;
    }
    .input-btn button{
        padding-bottom: 7px;

    }
      .input-btn span {
        width: 122px;
        font-size: 1.1rem;
        cursor: pointer;
        display: inline-block;
    
    }

}




