.footer-div-wrapper{
    min-height: 350px;
    width: 100%;
    padding: 55px 45px ;
    background: black;
    margin-top: 90px;
}
.footer-child{
    min-height: 250px;
    width: 100%;
}
.footer-head{
    
    margin-left: 26px;
    font-size: 16px;
    color: #757575;
    padding: 10px;
    text-align: start;
}
.footer-lists{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.list{
   color: #757575;
    height: 150px;
    width: 250px;
  
}
.list ul {
    list-style-type: none;
}
.list ul li{
    padding: 10px;
    font-size: 14px;
}
.footer-end p{
  
    margin-top: 50px;
    text-align: center;
    font-size: 12px;

}