
.navbarr-home{
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 70px;
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 1; */
    /* background: green; */
    transition-timing-function: ease-in;
    transition: all 0.5s;   
    flex-wrap: wrap;
}
.netflixlogo{
    /* background: yellow;    */
    object-fit: contain;    
    height:50px;
    width: 160px;   
    display: flex;
    align-items: center;
    justify-content:center; 
}
.netflixlogo img{
    height: 36px;
    width: 134px;
}
.navbar-right{
/* background: skyblue; */
width: 255px;
height:50px;
display: flex;
justify-content: flex-end;

}
.username{
    height: 100%;
    min-width: 100px;
    /* background: orangered;    */
    display: flex;
    align-items: center;
    justify-content: center;
}
.username h4{
    color: #fff;
    font-size: 16px;
    
}
.user-avatar{
    height: 100%;
    width: 35px;
    /* background: slateblue; */
    display: flex;
    align-items: center;
}
.user-avatar img{
    height: 32px;
    width: 34px;
}
.signout{
    height: 100%;
    width: 95px;
    /* background: springgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.signout button{
    height: 32px;
    width: 83px;   
    border-radius: 4px;
    border: none;
    background: #e50914;
    color: #fff;
    font-size: 16px;
    
    text-align: center;
}


.nav-black{
    background: #111;    
}

@media (max-width:454px) {
        .navbarr-home{
            min-height: 100px;
            display: flex;
            flex-direction: column;
        }
       
}