.row-post{
    color: #fff;    
    background: rgb(0, 0, 0);
}
.row-post h2{
    margin-left: 10px;
    
}
.posters{
    display: flex;

    overflow-y: scroll;
    overflow-x: scroll;
    padding: 20px;
  
}
.posters::-webkit-scrollbar{
    display: none;
}
.big-poster{
    max-height: 250px;
    margin-right: 10px;
     transition: transform 500ms;
   
}
.big-poster:hover{
    transform: scale(1.09);
   
}
.small-poster{
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}
.small-poster:hover{
    transform: scale(1.08);
   
}
