.parent-class{
    background: black;
    height: 464px;
    width: 100%;
    border-bottom: 8px solid #222;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* background: purple; */
}
.child-class{   
    /* background: green; */
    width: 1100px;
    height: 425.92px;
    display: flex;
    justify-content: space-between;
    /* background: orange; */

    
}
/* .row-left{
    background: red;
    width: 530.19px;
    height: 100%;
    text-align: start;
    margin: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
  
}
.row-right{
    background: blue;
    width: 530.19px;
    height: 397.64px;
} */
/*  



 */
 .playing-content{
     text-align:inherit;
     display: flex;
     flex-direction: column;     
     justify-content: center;
 }
.playing-content h1{
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 1rem;    
}
.playing-content h2{
    font-size: 1.625rem;
    font-weight: 400;
}
.video-advertisement{
    position: relative;
    /* background: orchid; */
    height: inherit;
    width: inherit;
 
   
}

.play-video video {
    width: 100%;
    height: 100%;
 
}
.play-video-second {
    position: relative;
    top: -64px;
    height: 393px;
    width: 326.19px;
    left: 100px;
    /* background: red; */
}
.play-video-second video {
   height: 100%;
   width: 100%;
}



.play-video {
    /* background: whitesmoke; */
    position: absolute;
    top: 62px;
    left: 71px;
    bottom: 0;
    height: 276.19px;
    width: 409.19px;
}
.img-wrapper{
    /* background: red; */
    position: absolute;
    top: 0;
    bottom: 0;
    height: 418.19px;
    width: 522.19px;    
}


.image-wrapper2{
    /* background: rgba(255, 255, 0, 0.486); */
  
  
    width: 100%;
    height:100%;
} 
 
.img-wrapper img {
  
    
    
    width: 100%;
    height: 100%;

   
   
} 