.parent-class{
    /* background: yellow; */
    min-height: 464px;
    width: 100%;
    border-bottom: 8px solid #222;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
   
}
.child-class{   
    background: green;    
    min-height: 425.92px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 100px 100px;
    align-items: center;
    
    
    
} 
 .playing-content{
     /* background: blue; */
     width: 425px;
    height: 100%;

 }
.playing-content h1{
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 1rem;    
    min-width: 100%;
}
.playing-content h2{
    font-size: 1.625rem;
    font-weight: 400;
    min-width: 100%;
    

}

.video-advertisement{
    position: relative;
    width: 492.25px;
    height:369.19px;
    background: pink;
}





/* .play-video {
    background: red;
    position: absolute;
    top: 62px;
    left: 59px;
    bottom: 0;
    height: 276.19px;
    max-width: 410px;
} */
.play-video video {
    position: absolute;
    width: 489px;
    height: 204px;
    top: 75px;
}

.play-video-second {
    position: relative;
    top: -64px;
    height: 393px;
    width: 326.19px;
    left: 100px;
    /* background: red; */
}
.play-video-second video {
   height: 100%;
   width: 100%;
}



 
.img-wrapper img {
  
    position: absolute;
    top: 0;
    height: 369.19px;
} 

@media (max-width:1117px){
    .child-class{
        display: flex;
        flex-direction: column;
    }

}   
@media  (max-width:685px){
    
    .video-advertisement{
        position: relative;
        height: 280.19px;
        width: 378px;
        background: red;
       
    }
    .img-wrapper img {
  
        position: absolute;
        top: 0;
        height: 280.19px;
        width: 378px;
    } 
    .play-video video {
        position: absolute;
        max-width: 376px;
        height: 156px;
        top: 57px;
    }
    
}


@media (min-width:280px) and (max-width:409px) {
    .child-class{
        padding: 0;
    }  
    .video-advertisement {
        position: relative;
        height: 234.19px;
        width: 259px;
        background: red;
        padding: 0;
        left: -73px;
        top: -7px;
    }
    .img-wrapper img{
        width: 259px;
    }
    .play-video video{
        width: 230px;
    }
    
}